.field{
    display: flex;
    flex-direction: column;
}

.inp{
    width: 200px;
}
legend{
    font-weight: bold;
}

.container{
    margin-top: 10px;
}

.cont2{
    text-align: center;
    margin-bottom: 10px;
}
fieldset{
    margin-bottom: 20px;
}

.fin{
    text-align: center;
}

body{
    background-color: antiquewhite;
    margin: 20px;
}




